<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    	<link rel='stylesheet' href='/stylesheets/global.css' />

        <script type="text/javascript" src="/javascripts/add-on/jquery-1.7.2.min.js"></script>
    </head>

    <body class="docs">
    	<div class="main_content">
    		<h1>Docs<a class="no_style right link" href="/">Back</a></h1>
            <h4>Here are docs of Spides.</h4>
    		<ul class="main_directory">
    			<li>
                    <h4>Spide</h4>
		    		<p>A slide-tool based on <strong>Javascript</strong> & <strong>HTML5</strong>.</p>
                    <p>
                    Authored by <a class="link" href="mailto:nighca@live.cn">nighca</a>, learnt a lot from 
                        <a class="link" href="http://bartaz.github.com/impress.js">impress.js</a></p>
    			</li>
    			<li>
                    <h4>Create</h4>
                    <p>Create new Spide in <a class="link" href="/create">create page</a>. When create a Slide, give it a <strong>key</strong> to forbid others from getting it.</p>
                    <p>You should write content in <a class="link" href="http://www.json.org/">JSON</a> now. I will make it more comfortable later.</p>
    			</li>
    			<li>
                    <h4>Browse</h4>
                    <p>With a <strong>key</strong> only can you browse a private Spide. Public Spides are those whose key is blank.</p>
                    <p>You can get all the <strong>public Spides</strong> <a class="link" href="/public">here</a>.</p>
    			</li>
                <li>
                    <h4>Fork</h4>
                    <p>You can get its code <a class="link" href="https://github.com/nighca/Spides">here</a>.</p>
                </li>
    		</ul>
		</div>
    </body>
    <script type="text/javascript" src="/javascripts/global.js"></script>

</html>