<html>
	<head>
    	<title><%= title %></title>
    	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    	<link rel='stylesheet' href='/stylesheets/global.css' />

      <script type="text/javascript" src="/javascripts/add-on/jquery-1.7.2.min.js"></script>
      <script type="text/javascript" src="/javascripts/add-on/edit_area/edit_area_full.js"></script>
      <script type="text/javascript">
        // initialisation
        editAreaLoader.init({
          id: "content" // id of the textarea to transform    
          ,start_highlight: true  // if start with highlight
          ,allow_resize: "both"
          ,allow_toggle: true
          ,word_wrap: true
          ,language: "en"
          ,syntax: "js" 
        });
      </script>

    </head>

    <body>
      <h3 class="error_block"><% if (typeof(error)!='undefined') { %>
        <%= error %>
      <% } %></h3>
    	<div class="main_content">
        
    		<h1>Spide Creator<a class="no_style right link" href="/">Back</a></h1>
		    <form action="/create" method="post" class="typical_form">
		    	<div class="input_block">
				    <input type="text" name="name" class="input_large" placeholder="Spide的名字" value="<%= (typeof(sname)!='undefined' ? sname : "") %>" />
				</div>
		    	<div class="input_block">
			    	<textarea id="content" name="content" placeholder="Input content of the spide here with JSON.">
<% if (typeof(content)!='undefined') { %><%= content %><% } else { %>              
              
[
  {
    "tagName":"slide",
    "px":0,
    "py":0,
    "psize":20,
    "protation":0,
    "ptype":1,
    "content":[
      {
        "tagName":"ptitle",
        "content":"A sample slide",
        "title":""
      }
    ]
  },
  {
    "tagName":"slide",
    "px":1600,
    "py":40,
    "psize":4,
    "protation":30,
    "ptype":2,
    "content":[
      {
        "tagName":"ptitle",
        "content":"A Spide may be simple"
      },
      {
        "tagName":"pparagraph",
        "content":"One title and one paragraph is enough sometimes."
      }
    ]
  },
  {
    "tagName":"slide",
    "px":3000,
    "py":200,
    "psize":20,
    "protation":70,
    "ptype":2,
    "content":[
      {
        "tagName":"img",
        "src": "http://m3.img.libdd.com/farm2/70/042115C40F942E2AC3F3333F00757346_440_551.JPEG",
        "width":"100%",
        "height": "100%",
        "align": "right"
      }
    ]
  },
  {
    "tagName":"slide",
    "px":4400,
    "py":900,
    "psize":4,
    "protation":180,
    "ptype":3,
    "content":[
      {
        "tagName":"ptitle",
        "content":"We have tip here ->"
      },
      {
        "tagName":"ptip",
        "content":"Here is the tip."
      },
      {
        "tagName":"pparagraph",
        "content":"And several paragraphes.."
      },
      {
        "tagName":"pparagraph",
        "content":"If you find that only one is not enough."
      },
      {
        "tagName":"pparagraph",
        "content":"As many as you want."
      }
    ]
  },
  {
    "tagName":"slide",
    "px":6400,
    "py":1000,
    "psize":40,
    "protation":240,
    "ptype":1,
    "content":[
      {
        "tagName":"ptitle",
        "content":"End page like this:"
      }
    ]
  },
  {
    "tagName":"slide",
    "px":8000,
    "py":1500,
    "psize":4,
    "protation":300,
    "ptype":0,
    "content":[
      {
        "tagName":"ptitle",
        "content":"The End"
      }
    ]
  }
]
<% } %>              
			    	</textarea>
			    </div>
		    	<div class="input_block">
				    <input type="password" name="theKey" class="input_large" placeholder="用以读取你的Spide的密码，为空意味着这是一个公开的Spide" />
				    <input type="submit" value="Submit" />
				</div>
		    </form>
		</div>
  </body>
  <script type="text/javascript" src="/javascripts/global.js"></script>

</html>