body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, "Microsoft YaHei", "STHeiti";
  color: #333;
}
window {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
world {
  display: block;
}
