.fly {
  position: absolute;
  display: block;
  height: 40px;
  bottom: 8%;
  right: 5%;
  border-radius: 6px;
  opacity: 0.3;
  z-index: 103;
  background-color: #b8b8b8;
}
.fly:hover {
  opacity: 1;
}
.fly .link {
  cursor: pointer;
}
.fly ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fly ul li {
  display: inline-block;
  line-height: 40px;
}
.fly ul li * {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  font-weight: bold;
  color: #f0f0f0;
}
.fly ul li a {
  text-decoration: none;
}
.fly ul li a:hover {
  color: #fff;
}
.fly ul li span {
  cursor: default;
}
.fly ul li #slide_index {
  position: absolute;
  left: -2em;
  top: 0;
  color: #333;
}
.tip {
  display: inline-block;
  width: 100%;
  color: #858585;
  text-align: right;
  text-indent: 2em;
}
.paragraph {
  display: block;
  margin: 1em 2em 0;
}
.paragraph strong {
  margin: 0 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #4d90fe;
}
.paragraph keyword {
  text-decoration: underline;
}
slide {
  display: block;
  position: absolute;
  border-radius: 1%;
  opacity: 0.5;
}
slide a {
  text-decoration: none;
  color: #4d90fe;
}
slide[ptype="0"] {
  background-color: #858585;
  color: #fff;
}
slide[ptype="0"] ptitle {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-size: 3em;
  text-align: center;
  margin-top: 30%;
}
slide[ptype="0"] ptitle strong {
  color: #4d90fe;
}
slide[ptype="1"] ptitle {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-size: 4em;
  text-align: center;
  margin-top: 35%;
}
slide[ptype="1"] ptitle strong {
  color: #4d90fe;
}
slide[ptype="2"] ptitle {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-size: 3em;
  text-align: center;
  margin-top: 15%;
}
slide[ptype="2"] ptitle strong {
  color: #4d90fe;
}
slide[ptype="2"] pparagraph {
  display: block;
  margin: 1em 2em 0;
}
slide[ptype="2"] pparagraph strong {
  margin: 0 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #4d90fe;
}
slide[ptype="2"] pparagraph keyword {
  text-decoration: underline;
}
slide[ptype="3"] ptitle {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-size: 3em;
  text-align: center;
  margin-top: 10%;
}
slide[ptype="3"] ptitle strong {
  color: #4d90fe;
}
slide[ptype="3"] ptip {
  display: inline-block;
  width: 100%;
  color: #858585;
  text-align: right;
  text-indent: 2em;
}
slide[ptype="3"] pparagraph {
  display: block;
  margin: 1em 2em 0;
}
slide[ptype="3"] pparagraph strong {
  margin: 0 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #4d90fe;
}
slide[ptype="3"] pparagraph keyword {
  text-decoration: underline;
}
